<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>О нас</h6>
            <p class="text-justify">MovieHunter.kg<i> Бесплатный сайт </i> предоставляет вам самые топовые, последние фильмы в качестве Full-HD</p>
          </div>
          <div class="col-xs-6 col-md-3">
            <h6>Наши проекты</h6>
            <ul class="footer-links">
              <li><a href="#">бла бла</a></li>
              <li><a href="#">бла бла бла</a></li>
              <li><a href="#">бла бла бла бла</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Ссылки</h6>
            <ul class="footer-links">
              <li><a href="#">Связаться с нами</a></li>
              <li><a href="#">Политика сайта</a></li>
              <li><a href="#">Навигации</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Все Права защищены
         <a href="#">MovieHunter.kg</a>.
            </p>
          </div>
        </div>
      </div>
</footer>
